<html>
    <head>
        <title>Analyze Test Page</title>
    </head>

    <body>
        <div id = "RSS Sources">            
            {% for story in stories %}
                <h3>{{ story|title }}</h3>
                {% for article in story.potentialarticle_set.all %}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{article.url}}" target="_blank">{{ article.title |title }}</a> --                     
                    <b>{{ article.source|title }}</b><br>
                {% endfor %}                
            {% endfor %}


        </div>        
    </body>
</html>