<html>
    <head>
        <title>Analyze Test Page</title>
    </head>

    <body>
        <div id = "RSS Sources">            
            {% for story in stories %}
                <h3>{{ story|title }}</h3>
                <div style="margin-left: 50px">
                    {% for article in story.potentialarticle_set.all %}                    
                        <a href="{{article.url}}" target="_blank">{{ article.title |title|slice:":80" }}</a> --                     
                        <b>{{ article.source|title }}</b><br>
                        <div style="margin-left: 100px">
                            {% for word in article.words.all %}
                                {{ word.word }}: 
                                {% for detail in article.worddetail_set.all %}
                                    {{ detail.usage }}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

        </div>        
    </body>
</html>