{% extends "analyze/base.html" %}
{% load staticfiles %}

{% block body %}    
    <div id="site-header" class="col-xs-12 text-center">
        <h1>Analyze Admin Section</h1>
    </div>
    <div class="col-xs-12 text-center">
        <form name="login_info" action="login" method="post">
            {% csrf_token %}            
            {{ form }}
            <div class="form-input">
                <input type="submit" value="Login"></input>
            </div>
        </form>
    </div>    
{% endblock %}