{% extends "analyze/base.html" %}
{% load staticfiles %}

{% block body %}
<div class="container-fluid">    
    <div class="row">
        
        <div class="jumbotron text-center">
            <h1>{{ story.title | title }}</h1>
            <h4>{{ story.tag | title }}</h4>
        
        
            <form action="{{ action }}" method="post" class="text-center">        
                {% csrf_token %}
                <h3>{{ form }}
                <input type="hidden" value="{{story.id}}" name="story_id"/><br>
                <input type="submit" value="Publish Story" /></h3>
            </form>
        </div>
        <div id="word-container">
            {% for article in articles %}
                <div class="col-md-3">
                    <div class = "row text-center">
                        <a href="{{article.url}}">                       
                            <h4><b>{{article.source}}</b> - {{ article.title|title|slice:":38" }}</h4>
                        </a>
                    </div>
                    
                    <div class="row text-center">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <table>                        
                            <th class="text-center">Word</th>
                            <th class="text-center">Count</th>
                            <th class="text-center">Actions</th>
                            {% for word in words %}
                                {% if article.id == word.potentialarticle.id%}
                                    <tr>
                                        <td><span class="word-result">{{ word.potentialword|capfirst }}</td>
                                        <td>{{word.usage}}</td>
                                        <td>
                                            <a class="not-relevant-action" data-article-id="{{word.potentialarticle.id}}" data-word-id="{{word.id}}">
                                                <span class="label label-danger">Not Relevant</span>
                                            </a>
                                        </td>
                                    </span>                                
                                    </tr>
                                {% endif %}                        
                            {% endfor %}
                            </table>
                        </div>
                        <div class="col-md-3"></div>
                    </div>                                        
                </div>
            {% endfor %}
        </div>
        
    </div>
<div class="container">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static "js/ajaxsetup.js" %}"></script>
    <script type="text/javascript" src="{% static "js/story.js" %}"></script>
{% endblock %}

